.card-profile
  .card-profile_icon
    = image_tag 'Ellipse.png'
  .card-profile_list
    .card-post
      %p 44
      %P Post
    .card-followers
      %p 110
      %p Followers
    .card-following
      %p 44
      %p Following
  .card-profile_photo
    = image_tag 'Rectangle.png'
    = image_tag 'Rectangle.png'